<%- include("template/cabecera")%>

    <div class="container text-center error">
        <h1 class="text-danger"><%= title %></h1>
        <br>
        <h2><%= description %></h2>
        <br>
        <img src="/img/imagenerror.jpeg" alt="..." width="390" height="200">
        <a class="btn btn-dark btn-block my-4" href="/">Go To Apods</a>
    </div>

</body>
</html>