<%- include("template/header")%>

<div class="container w-25">
    <h2 class="m-4 text-center">Create Apod</h2>
    <a class="btn btn-danger w-25" href="/"><</a>
    <form action="/" method="POST">
        <input type="number" placeholder="Id" name="id" />
        <input type="text" placeholder="TITLE" name="title" />
        <input type="text" placeholder="EXPLANATION" name="explanation" />
        <input type="text" placeholder="DATE" name="date" />
        <input type="file" placeholder="IMAGE" name="url" />
        <button id="create" type="submit" class="btn">Crear</button>
    </form>
</div>
