#crear {
    background-color: green;
    color: white;
}
#edit {
    background-color: orange;
    color: white;
}
#create {
    background-color: green;
    color: white;
}
table {
    font-size: 0.85em;
}
.error {
    margin: 7em;
}

img {
    width: 50%;
}

.back {
    background-color: red;
}
